:root {
  --main-text-color: #212121;
  --secondary-color: #757575;
  --white-page-color: #ffffff;
  --accent: #2196f3;
  --main-bgc: #ffffff;
  --secondary-bgc: #e5e5e5;
  --span-black: #000000;
  --footer-nav: rgba(255, 255, 255, 0.6);
  --typical-margin: 30px;
  --svg-main: #afb1b8;
}
