.clients-list {
  display: flex;
  margin: 0 auto;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  margin-right: 30px;
  color: var(--svg-main);

  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent);
    border-color: var(--accent);
  }
}

.clients-list__item:last-child {
  margin-right: 0;
}

.clients-list__icon {
  fill: currentColor;
}
