.thumb {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
  border-radius: 4px;
  width: 270px;
  height: 120px;

  background-color: #f5f4fa;
}

.thumb__icon {
  display: inline-flex;
}

.feature__item:not(:last-child) {
  margin-right: 30px;
}

.thumb__text {
  min-width: 270px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.feature {
  display: flex;
}
.thumb__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
