.header {
  background-color: var(--main-bgc);
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav__link.current {
  color: var(--accent);

  &::after {
    content: "";
    height: 4px;
    background-color: var(--accent);
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 2px;
    right: 0;
  }
}

.auth-links {
  display: flex;
}

.site-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  margin-left: 93px;
  margin-right: auto;
}

.nav__item {
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.auth {
  display: flex;
  margin-left: auto;
}

.auth__item:last-child {
  margin-left: 50px;
}

.auth-header__link {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.auth__icon {
  margin-right: 10px;
  fill: currentColor;
}
